/* Space out content a bit */
body {
  padding-top: 15px;
  padding-bottom:15px;
}

.header {
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 5px;
  border-bottom: 3px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

.sub-header {
  text-align: center;
  padding-bottom: 10px;
}

.header p {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Customize container */
.container {
    max-width: 800px;
}

.valid {
    padding-bottom: 30px;
    text-align: center;
}

.beacon-valid {
    display: inline;
}

.beacon-container {
    position: relative;
    text-align: center;
}

.beacon-box {
    display: inline-block;
    width: 24%;
    vertical-align: top;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 0px;
}

.beacon-header {
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #e5e5e5;
}

.beacon-field {
    line-height: 0.7;
}

.beacon-value {
    float: right;
    font-style: italic;
}
